
{#content}

<h1 n:block="#title">Another Sample Page</h1>

{control setFlashAndRedirectToHomepageForm}

<input type="button" id="leButton" value="Double-click this" ondblclick="this.value = 'Doubleclicked.';">
